In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

In [2]:
import scipy
import statistics

In [3]:
adcleveland = "C:\\Users\\behroozk\\Documents\\Python\\PML\\Heart\\processed.cleveland.data"
adHungarian = "C:\\Users\\behroozk\\Documents\\Python\\PML\\Heart\\processed.hungarian.data"
adSwitzerland = "C:\\Users\\behroozk\\Documents\\Python\\PML\\Heart\\processed.switzerland.data"

In [4]:
colname = ['age','sex','cp','trestbps','chol','fbs','restecg','thalach','exang','oldpeak','slope','ca','thal','num']

In [5]:
len(colname)

14

In [6]:
heartData = pd.DataFrame(data = [], columns=colname)

In [7]:
def conversion_function(data):
    newdata = []
    for idata in data:
        try:
            newdata.append(float(idata))
        except:
             newdata.append(idata)
    return newdata

In [8]:
counter = 0 
with open(adcleveland, "r") as filestream:
    for line in filestream:
            data = line.split(",")
            heartData.loc[counter,:] = conversion_function(data)
            counter = counter+1

In [9]:
counter = counter +1
with open(adHungarian, "r") as filestream:
    for line in filestream:
            data = line.split(",")
            heartData.loc[counter,:] = conversion_function(data)
            counter = counter+1

In [10]:
counter = counter +1
with open(adSwitzerland, "r") as filestream:
    for line in filestream:
            data = line.split(",")
            heartData.loc[counter,:] = conversion_function(data)
            counter = counter+1

In [11]:
heartData.sample(3)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
584,43.0,1.0,4.0,140.0,288.0,0.0,0.0,135.0,1.0,2.0,2.0,?,?,1.0
435,53.0,0.0,2.0,113.0,468.0,?,0.0,127.0,0.0,0.0,?,?,?,0.0
447,54.0,0.0,2.0,130.0,253.0,0.0,1.0,155.0,0.0,0.0,?,?,?,0.0

In [12]:
heartData.to_csv('HeartData.csv')